.navbar {
    
    position: relative;
}

.hamburger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 4px;
    z-index: 1000;
    justify-items: center;
    
}



.hamburger.show {
    opacity: 1; /* Ustawia przezroczystość na 1 (widoczne) */
    visibility: visible; /* Element jest widoczny */
    transition: opacity 0.3s ease; /* Dodaje animację */
}

/* Styl dla elementu ukrytego */
.hamburger.hide {
    opacity: 0; /* Ustawia przezroczystość na 0 (niewidoczne) */
    visibility: hidden; /* Element nie jest widoczny, ale zajmuje miejsce */
    transition: opacity 0.3s ease; /* Dodaje animację */
}

.bar1 {
    width: 30px;
    height: 4px;
    
    background: linear-gradient(90deg, #fdcb25, #ad1739);
    margin: 4px 0;
    transition: 0.4s;
}
.bar2 {
    width: 22px;
    height: 4px;
    
    background: linear-gradient(90deg, #fdcb25, #ad1739);
    margin: 4px 0;
    transition: 0.4s;
}
.bar3 {
    width: 16px;
    height: 4px;
    background: linear-gradient(90deg, #fdcb25, #ad1739);
    margin: 4px 0;
    transition: 0.4s;
}

.bar-icon{
    width:50px;
    height:50px;
}


.hamburger.active .bar1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.hamburger.active .bar2{
    opacity: 0;
}
.hamburger.active .bar3{
    width:30px;
    transform: rotate(45deg) translate(-5px, -6px);
}


.nav-panel {
    position: fixed;
    top: 0;
    right: -300px; /* Hidden by default */
    height: 100%;
    width: 300px;
    background-color: #ad1739;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 999;
}

.nav-panel a {
    text-decoration: none;
    font-family: "PPAcma Semibold";
    color: #ece5c6;
}

.nav-panel ul {
    font-family: "PPAcma Semibold";
    list-style: none;
    padding: 20px;
    color: #ece5c6;
}

.nav-panel ul ul {
    font-family: "PPAcma Semibold";
    padding-left: 20px;
    color: #ece5c6;
}

.nav-panel li {
    font-family: "PPAcma Semibold";
    margin: 10px 0;
}

.nav-panel a:hover{
    text-decoration: underline;
}




.nav-panel.active {
    right: 0; /* Show the panel */
}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
    
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}