@media (max-width: 768px) {


    body {
        overflow-x: hidden; /* Zapobiega poziomemu przewijaniu */
    }

    body.dark-mode .footer-container,
    body.dark-mode .s3 {
        background-color: #242424 !important;
    }
    #header-container {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: relative;
    
    .nav-panel{
        max-width: 200px;
        overflow: auto;
        font-size: 15px;
    }


    .header-logo {
        width: 100px;
        height: auto;
        position: absolute;
        left: 10vw;
        top: 6vh;
    }

    .hamburger {
        position: absolute;
        left: 52vw;
        top: 1vh;
        cursor: pointer;
    }

    .theme-switch-wrapper {
        position: absolute;
        left: 50vw;
        top: 0.4vh;
    }

    .main-container {
        padding: 10px;
        width: 100%; /* Ustaw szerokość na 100% */
    }
}
}

















